

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

header {
  height: 56px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  background: #1bd8b8;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

header h1 {
  font-size: 16px;
  font-weight: normal;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  width: 200px;
}

footer {
  font-style: italic;
  text-align: center;
  padding-bottom: 8px;
}